@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.weight_300_size_12 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.weight_400_size_13 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.weight_400_size_14 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.weight_400_size_16 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.weight_400_size_18 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.weight_500_size_10 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
}

.weight_500_size_12 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.weight_500_size_13 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.weight_500_size_14 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.weight_500_size_15 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.weight_500_size_16 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.weight_500_size_18 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.weight_500_size_24 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.weight_600_size_14 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.weight_600_size_18 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.weight_600_size_25 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
}

.weight_600_size_30 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #476ee6;
}
